@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,800;1,500;1,600&family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}
html{
    background-color: beige;
}
.header{
    margin-top:10px;
}
.buttons ul li{
    display:inline-block;
}
.buttons{
    margin-bottom: 5px;
}

.buttons ul li a button{
    border:0;
}
.buttons ul li a{
    text-decoration: none;
    border  : 2px solid black;
    padding : 5px;
    color : black ;
    border-radius : 10px;
    margin-right : 20px;
    display:inline-block;

}
.buttons ul li a:hover{
    background-color: black;
    
    color : white ;
    
    
}

.title{
    background-color: rgb(117, 116, 116);
    
}

.title h1{
    text-align: center;
    padding: 20px ;
}
.notice{
    display:inline-block;
    
    padding: 30px;
}

section{
    border:5px solid rgb(192, 190, 190);
    border-radius: 5px;
    display:inline-block;
    text-align:center;
    background-color: rgb(244, 237, 227);


}
.file_content{
    padding: 10px 20px;
    display:inline-block;
}
.file {
    display:inline-block;
    margin:5px auto;
}


